<script type="application/javascript" src="/javascripts/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/login.css' />
<link rel='stylesheet' href='/stylesheets/cabzilla/login.css'>

<div class="forgotPasswordDiv">
    <div class="headerForgotPassword">
        <div class="icon">
            <a class="backIcon" ui-sref="login"><img src="/images/cabzilla_icon/arrow.png"></a>
        </div>
        <div class="title">Forgot Pasword</div>
    </div>
    <div class="content">
        <span>Fill in your account email address and we will email you a link to reset your password.</span>

        <form role="form" class="form-signin" ng-submit="forgotPassword(resetEmail)">
            <!--<input type="email" autofocus="" required="" placeholder="Email address" class="form-control">-->
            <!--<input type="password" required="" placeholder="Password" class="form-control">-->
            <!--<button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>-->
            <fieldset>
                <div class="row">
                    <label for="email">Email</label>
                    <div>
                        <input type="text" placeholder="name@example.com" ng-model="resetEmail" class="resetEmail">
                    </div>
                </div>
            </fieldset>
            <button type="reset" class="btn btn-lg btn-primary cancelBtn cabzillaBtn" ui-sref="login">Cancel</button>
            <button type="submit" class="btn btn-lg btn-primary submitBtn cabzillaBtn">Submit</button>
        </form>
    </div>
</div>

<!--Notification when forgot password-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="notiForgotPasswordModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div>{{notiForgotPassword}}</div>
            <div>
                <button class="btn radius cabzillaBtn" class="close" data-dismiss="modal" type="button">OK</button>
            </div>
        </div>
    </div>
</div>